body{
    
    background-color: #081228;
}
.nav{
    background-color: #081228;
}
.heropage{
    display: flex;
    justify-content: space-between;
    /* padding: 5rem; */
}
.hero1{
    /* margin-left: 20rem; */
}
.hero2{
    margin-left: 5rem;
}